* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand {
    color: rgb(245, 245, 245) !important;
    font-weight: 900;
}

.navbar {
    background-image: linear-gradient(to right, rgb(175, 6, 119), rgb(223, 194, 68));
    padding: 0 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: rgb(245, 245, 245) !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.dropdown-menu {
    background-image: linear-gradient(to right, rgb(175, 6, 119), rgb(223, 194, 68));
    padding: 0 !important;
}

.dropdown-item {
    color: rgb(245, 245, 245) !important;
    font-weight: 600;
}

.navbar-toggler {
    outline: none;
}

.modal-header {
    background-image: linear-gradient(to right, rgb(175, 6, 119), rgb(223, 194, 68));
    color: white;
}

.modal-footer {
    margin: 0.25rem;
}

.btn-outline-light {
    position: relative;
    top: 20px;
}

.bg-dark {
    background-position: center;
    background-size: cover;
}

.bg-dark h2 {
    font-size: 40px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(175, 6, 119, 0.5), rgb(223, 194, 68, 0.5));
}

.bg-dark p {
    background-image: linear-gradient(to right, rgb(175, 6, 119, 0.5), rgb(223, 194, 68, 0.5));
}

.box p {
    height: 100px;
    box-shadow: black;
}

.box h2 {
    height: 100px;
    box-shadow: black;
}

.bg-dark button {
    background-color: rgba(0, 0, 0, 0.799);
}

.box h4 {
    color: whitesmoke;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(175, 6, 119), rgb(223, 194, 68));
}

.box h4 small {
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
}

.btn-outline-light {
    background-image: linear-gradient(to right, rgb(175, 6, 119), rgb(223, 194, 68));
}

.progress {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    background-color: rgba(0, 0, 0, 0.466);
    background-image: linear-gradient(to right, rgb(175, 6, 119), rgb(223, 194, 68));
}

.breadcrumb li {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
    font-family: Helvetica;
    background-image: linear-gradient(rgba(255, 255, 255, 0.233), rgba(192, 192, 192, 0.301));
}

.background-image {
    background-image: url('https://getwallpapers.com/wallpaper/full/d/2/8/1199779-free-4k-ultra-hd-nature-wallpaper-1920x1200.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.vdo-container {
    display: flex;
    justify-content: center;
}

.vdo video {
    width: 100%;
    height: min-content;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    display: flex;
    justify-content: center;
}

.heading h1 {
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.568);
    width: auto;
}

.para {
    color: white;
    background-color: rgba(0, 0, 0, 0.342);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-collapse li :hover {
    background-color: rgba(240, 255, 255, 0.288);
}