* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand {
    color: rgb(245, 245, 245) !important;
    font-weight: 900;
}

.navbar {
    background-image: linear-gradient(to right, rgb(12, 8, 71), rgb(54, 49, 51));
    padding: 0 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: rgb(245, 245, 245) !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.dropdown-menu {
    background-image: linear-gradient(to right, rgb(12, 8, 71), rgb(54, 49, 51));
    padding: 0 !important;
}

.dropdown-item {
    color: rgb(245, 245, 245) !important;
    font-weight: 600;
}

.navbar-toggler {
    outline: none;
}

.box h4 {
    color: whitesmoke;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(12, 8, 71), rgb(54, 49, 51));
}

.box h4 small {
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
}

iframe {
    position: relative;
    top: 20px;
    width: 95rem;
    height: 500px;
    padding: 0;
}

#Ytube1 {
    text-align: center;
}

.modal-header {
    background-image: linear-gradient(to right, rgb(12, 8, 71), rgb(54, 49, 51));
    color: white;
}

.breadcrumb li {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
    font-family: Helvetica;
    background-image: linear-gradient(rgba(255, 255, 255, 0.233), rgba(192, 192, 192, 0.301));
}

.background-image {
    background-image: url('https://getwallpapers.com/wallpaper/full/e/a/c/404400.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-collapse li :hover {
    background-color: rgba(240, 255, 255, 0.288);
}